/* ===== Container ===== */
.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Background Image ===== */
.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  animation: zoomMotion 25s ease-in-out infinite alternate;
}

/* ===== Overlay ===== */
.login-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
}

/* ===== Form ===== */
form {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 204, 0, 0.3);
  border-radius: 15px;
  padding: 40px 50px;
  text-align: center;
  color: #fff;
  width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
form:hover {
  box-shadow: 0 0 25px rgba(255, 204, 0, 0.4);
}
form h2 {
  color: #ffcc00;
  margin-bottom: 25px;
} /* ===== INPUTS ===== */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid rgba(255, 204, 0, 0.3);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  outline: none;
  font-size: 15px;
  transition: 0.3s ease;
}
input::placeholder {
  color: #bbb;
}
input:focus {
  border-color: #ffcc00;
  box-shadow: 0 0 8px rgba(255, 204, 0, 0.5);
} /* ===== BUTTON ===== */
button {
  width: 100%;
  background: #ffcc00;
  color: #001a33;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background: #ffd84a;
  transform: scale(1.03);
}

/* ===== Animation ===== */
@keyframes zoomMotion {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}


